@import './prism.css';

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
code {
    background-color: #FDE68A;
    font-size: 1rem;
}

:root {
    --theme-color: #5b5d8a;
    --color-gray-300: #D4D4D8;
}

/* Layout */
.container {
    margin: 0 auto;
    max-width: 64rem;
    padding: 0 1rem;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}
.grid__item,
.grid__item--3 {
    margin: 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* Header */
.header {    
    background-color: var(--theme-color);
    color: #FFF;
    margin-bottom: 4rem;
    position: relative;
}
.header__corner {    
    content: '';
    position: absolute;

    /* Size */
    height: 4rem;
    width: 4rem;
}
.header__corner::before {    
    content: '';

    /* Position */
    left: 0;
    position: absolute;
    top: 0;

    /* Size */
    height: 100%;
    width: 100%;
}
.header__corner--bl {
    background: var(--theme-color);
    /* Position */
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
}
.header__corner--bl::before {    
    background: #fff;
    border-top-left-radius: 100%;    
}
.header__corner--br {
    background: #fff;
    /* Position */
    bottom: 0;
    right: 0;
}
.header__corner--br::before {
    background: var(--theme-color);
    border-bottom-right-radius: 100%;
}

.header__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.header__nav a {
    color: #FFF;
    font-size: 1.5rem;
}
.header__logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.header__heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    padding: 2rem 2rem 5rem 2rem;
    text-align: center;
}
.header__edit {
    position: relative;
    text-align: center;
}
.header__edit a {    
    background-color: #FFF;    
    border: 1px solid var(--color-gray-300);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;

    /* Position */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */
.footer {
    overflow: hidden;
    padding: 4rem 0;
}
.footer__copyright {
    align-items: center;
    border-bottom: 1px solid #D1D5DB;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
.footer__links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer__link,
.footer__link--dot {
    margin: 0.125rem 0;
    text-decoration: none;
}
.footer__link--dot:not(:last-child):after {
    color: #9CA3AF;
    display: inline-flex;
    content: " • ";
    margin: 0 0.5rem;
}

/* Sidebar */
.sidebar {
    display: none;
}
.sidebar__inner {
    position: sticky;
    top: 1rem;
}
.sidebar__card {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 1rem 0;
    overflow: hidden;
    padding: 1rem;
}
.sidebar__card a {
    color: #FFF;
    text-decoration: none;
}
.sidebar__card-logo {
    display: flex;
    height: auto;
    margin: 0 auto;
    width: 6rem;
}
.sidebar__card-title {
    font-size: 1.25rem;
    margin: 0.5rem;    
    padding: 0;
    text-align: center;
}
.sidebar__card-desc {
    padding: 0.5rem;
    text-align: center;
}

/* Home */
.home-section {
    margin: 3rem 0;
}
.home-section__heading {
    color: var(--theme-color);
    display: grid;    
    grid-gap: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
.home-section__heading--odd {
    grid-template-columns: 1fr auto;
}
.home-section__heading--even {
    grid-template-columns: auto 1fr;
}
.home-section__heading--odd::before,
.home-section__heading--even::after {
    align-self: center;
    border-top: 1px solid var(--color-gray-300);
    content: '';
}

.home-feature {
    margin: 1.5rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.home-feature__inner {
    border: 1px solid var(--color-gray-300);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 8rem;
    padding: 0.75rem;
    text-align: center;
}
.home-feature__desc {
    margin: 0.5rem 0;
}

.home-example__inner {
    /* Center */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    border: 1px solid var(--color-gray-300);
    border-bottom-right-radius: 1rem;
    height: 100%;
    padding: 0.75rem;
    position: relative;
}
.home-example__category {
    border-top-left-radius: 0.5rem;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;

    /* Position */
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-1px, -100%);
}
.home-example__category--advanced {
    background-color: #e53e3e;
}
.home-example__category--basic {
    background-color: #718096;
}
.home-example__category--intermediate {
    background-color: #3182ce;
}
.home-example__category--tip {
    background-color: #9333EA;
}
.home-example__link {
    font-size: 1.25rem;
    font-weight: 500;
}

.home-product {
    border-top-left-radius: 1rem;
}
.home-product__link {
    align-items: center;
    display: flex;
    flex-direction: column;    
}
.home-product__head {
    align-items: center;
    display: flex;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.home-product__name {
    margin: 0 0 0 0.5rem;
    padding: 0;
}
.home-product__desc {
    font-size: 0.75rem;
    text-align: center;
}

/* Post */
.post {
    border: 1px solid var(--color-gray-300);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    padding: 1rem;
}
.post__content {
    flex: 1;
    overflow: auto;
}

/* Markdown content */
.post__content h2 {
    font-size: 2rem;
}
.post__content img {
    height: auto;
    max-width: 100%;
}
.post__content ol,
.post__content ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
}
.post__content table,
.post__content th,
.post__content td {
    border: 1px solid rgba(0, 0, 0, .3);
    border-collapse: collapse;
    padding: 0.5rem;
}

/* Post navigation */
.post-nav__item {
    /* Center */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    border: 1px solid var(--color-gray-300);
    border-bottom-right-radius: 1rem;
    height: 100%;
    margin: 2rem 0;
    padding: 0.75rem;
    position: relative;
}
.post-nav__dir {
    background: var(--theme-color);
    border-top-left-radius: 0.5rem;
    color: #fff;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;

    /* Position */
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-1px, -100%);
}

/* Ads */
#carbonads {
    border: 1px solid var(--color-gray-300);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.5rem 1rem;  
}
.carbon-img {
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}
.carbon-poweredby {
    display: block;
    font-size: 0.75rem;
    text-align: right;
}
.carbon-text {
    display: block;
}

/* Demo */
iframe {
    border: 1px solid var(--color-gray-300);
}

/* Responsive */
@media (min-width: 640px) {
    .grid__item,
    .grid__item--3 {
        width: 50%;
    }
    .home-example {
        height: 8rem;
    }
    .post-nav {
        display: flex;
        justify-content: space-between;
    }
    .sidebar {
        display: block;
        flex: 0 0 10rem;
        margin-left: 0.5rem;
    }
}
@media (min-width: 768px) {
    .grid__item,
    .grid__item--3 {
        width: 33.33333%;
    }
    .sidebar {
        flex-basis: 12rem;
    }
}
@media (min-width: 1024px) {    
    .grid__item {
        width: 25%;
    }
    .sidebar {
        flex-basis: 16rem;
        margin-left: 1rem;
    }
}