/*
Prism theme
Credit to https://github.com/tailwindlabs/tailwindcss.com/blob/master/src/css/prism.css
*/
pre {
    background: #27272a;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
    overflow: auto;
    padding: 1rem;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
    color: #e879f9;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
    color: #22d3ee;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
    color: #bef264;
}

.token.punctuation,
.token.module,
.token.property {
    color: #bae6fd;
}

.token.atapply .token:not(.rule):not(.important) {
    color: inherit;
}

.language-shell .token:not(.comment) {
    color: inherit;
}

.language-css .token.function {
    color: inherit;
}

.token.comment {
    color: #a1a1aa;
}
