---
layout: layouts/base.njk
title: Manage HTML DOM with vanilla JavaScript
eleventyExcludeFromCollections: true
---

<div class="container">
    <div class="hero">
        <h1 class="hero__heading">Manage HTML DOM with vanilla JavaScript</h1>
        <a class="hero__button" href="https://github.com/phuocng/html-dom">Star me on GitHub ● {{ github.htmldom.stargazers }}★</a>
    </div>

    {% for cat in collections.categories %}
    {% set posts = collections.groupByCategories[cat] %}
    <div class="category">
        <h2 class="category__name">{{ cat }}</h2>
        <div class="category__posts">            
            {%- for post in posts -%}
            <div class="card__item">
                <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
            </div>
            {%- endfor -%}
        </div>
    </div>
    {% endfor %}

    {% include "follow.njk" %}
</div>