<div class="sidebar__card" style="background-color: {{ product.themeColor }}">
    <a href="{{ product.url }}">
        <img class="sidebar__card-logo" src="/assets/{{ product.name | slug }}.png" alt="{{ product.name }} - {{ product.description }}" />
        <h3 class="sidebar__card-title">{{ product.name }}</h3>
        <div class="sidebar__card-desc">{{ product.description }}</div>
    </a>
</div>