body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
td {
    font-weight: 300;
}
