---
layout: layouts/base.njk
permalink: "/{{ page.fileSlug }}/index.html"
---

<header class="header">
    <div class="header__corner header__corner--bl"></div>
    <div class="header__corner header__corner--br"></div>
    <div class="container">
        <div class="header__nav">
            <a href="/" title="Homepage">
                <img src="/assets/logo.svg" alt="HTML DOM" height="64" width="64" />
            </a>
            <a href="https://github.com/phuoc-ng/html-dom">GitHub {{ github.stargazers }}★</a>
        </div>        
        <h1 class="header__heading">{{ title }}</h1>
        <div class="header__edit">
            <a href="https://github.com/phuoc-ng/this-vs-that/blob/main/posts/{{ page.fileSlug }}.md">Fix a typo</a>
        </div>
    </div>
</header>

<div class="container">
    <div class="post">
        <main class="post__content">
            {{ content | safe }}
        </main>

        <div class="sidebar">
            <div class="sidebar__inner">
                <script src="https://cdn.carbonads.com/carbon.js?serve=CE7I6KQI&placement=htmldomdev" async id="_carbonads_js"></script>

                {% set randomProducts = products | randomItems(3) | sortBy('name') %}
                {% for product in randomProducts %}
                {% include "_product.njk" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="post-nav">
        
        {% if prevPost %}
        <div class="post-nav__item post-nav__item--prev">
            <div class="post-nav__dir">Previous</div>
            <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
        </div>
        {% endif %}
        
        {% if nextPost %}
        <div class="post-nav__item post-nav__item--next">
            <div class="post-nav__dir">Next</div>    
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </div>
        {% endif %}        
    </div>
</div>